body {
    font-family: Arial, sans-serif;
    background-color: #f2e7e6;
    color: #004b2f;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    /*background-color: #004b2f;*/
    color: white;
    padding: 10px 0;
    text-align: left;
    width: 100%;
    margin-top: 0;
}

header table {
    margin-left: auto;
    margin-right: auto;
}

.container {
    flex: 1;
    width: 80%;
    margin-top: 10px;
    padding: 20px;
    /* center the container */
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

label, input {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #009c6c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #007a54;
}

footer {
    background-color: #004b2f;
    color: white;
    text-align: center;
    padding: 10px 0;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

.display-books {
    display: grid;
    max-width: 1200px;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.display-books li {
    padding: 10px;
    box-sizing: border-box;
    height: 320px; /* 233px will be for the picture */
    width: 160px;
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.book-item span {
    margin-top: 10px;
}

.book-item img {
    width: 158px;
    height: 213px;
    object-fit: cover; /* This will ensure the image is resized and cropped to fit the dimensions */
    margin-bottom: 10px;
    box-shadow: -1px 1px 13px -3px rgba(0,0,0,0.59);
}

.book-item dont-flex-down {
    flex: 0 0 auto;
    margin-top: 10px;
}

.banner-object {
    /*height: 306px;*/
    height: 200px;
    width: 98%;
    object-fit: cover;
    border-radius: 14px;
    /*center the image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*drop shadow. Nice shadow value generator: https://www.cssmatic.com/box-shadow*/
    box-shadow: -7px 11px 40px -3px rgba(0,0,0,0.50);
}


