body {
    font-family: Arial, sans-serif;
    background-color: #f2e7e6;
    color: #004b2f;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    /*background-color: #004b2f;*/
    color: white;
    padding: 0px 0;
    text-align: left;
    width: 100%;
    margin-top: 0;
}

.banner {
    /*background-color: #004b2f;*/
    width: 100%;
    max-width: 1200px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

header table {
    margin-left: auto;
    margin-right: auto;
}

.container {
    flex: 1;
    width: 80%;
    margin-top: 10px;
    padding: 20px;
    /* center the container */
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

label, input {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 0px 0px;
    margin: 8px;
    /*background-color: #009c6c;*/
    background-color: transparent;
    color: #2d0600;
    text-decoration: none;
    border-radius: 0px;
    font-weight: 700;
}

.button:hover {
    /*background-color: #007a54;*/
    /*text-shadow: black 1px 1px 1px;*/

    /*https://html-css-js.com/css/generator/text-shadow/*/
    color: transparent;
    background: #2d0600;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

footer {
    background-color: #001a11;
    color: white;
    text-align: center;
    padding: 10px 0;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}

.display-books {
    display: grid;
    max-width: 1200px;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.display-books li {
    padding: 0px;
    box-sizing: border-box;
    height: 320px; /* 233px will be for the picture */
    width: 160px;
}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.book-item span {
    margin-top: 0px;
    margin-bottom: 0px;
}

.book-item .title {
    /*font-size: 1.2em;*/
    margin-top: 5px;
    font-weight: 700;
}

.book-item .authors {
    font-size: 0.7em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-item img {
    /*width: 158px;*/
    /*height: 213px;*/
    /*object-fit: cover; !* This will ensure the image is resized and cropped to fit the dimensions *!*/
    /*margin-bottom: 0px; !* changing from 10px *!*/
    /*box-shadow: -1px 1px 13px -3px rgba(0,0,0,0.59);*/
/*    0p margins*/
    margin: 0;
    padding: 0;
}

.book-item .book-cover {
    width: 158px;
    height: 213px;
    object-fit: cover; /* This will ensure the image is resized and cropped to fit the dimensions */
    margin-bottom: 5px; /* changing from 10px */
    box-shadow: -1px 1px 13px -3px rgba(0,0,0,0.59);
}

.book-item .dont-flex-down {
    flex: 0 0 auto;
    margin-top: 5px;
    /*position: absolute;*/
    transform: translate(0px, -50%)
}

.book-item .dont-flex-down:hover {
    opacity: 0.0;
}

.absolute-outer {
    height: 18px;
    margin-top: 10px;
    position: relative; /* Establish a containing block for absolute positioning */
    display: flex;
    justify-content: left;
    align-items: center;
}

.banner-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-object {
    /*height: 306px;*/
    height: 200px;
    width: 98%;
    object-fit: cover;
    border-radius: 14px;
    /*center the image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*drop shadow. Nice shadow value generator: https://www.cssmatic.com/box-shadow*/
    box-shadow: -7px 11px 40px -3px rgba(0,0,0,0.50);
}

.banner-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(280px, -50%); /* Move the logo 100px to the right of center */
    width: 170px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/*css for the search bar*/
.search-bar {
    justify-content: center;
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;

}

.star-rating {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*margin-top: 5px;*/
    padding: 0;
    margin: 0;
}
.star-rating:hover {
    cursor: pointer;
    filter: saturate(200%);
}

.grayscale {
    filter: grayscale(100%);
    opacity: 0.5;
    padding: 0;
    margin: 0;
}

.grayscale:hover {
    filter: grayscale(0%) saturate(200%);
    cursor: pointer;
    opacity: 1;
}