<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Home Page</title>
    <link rel="stylesheet" th:href="@{styles.css}">
</head>
<body>
<th:block th:insert="~{header :: header}"></th:block>
<div class="container">
    <h2>Discover Your Next Favorite Book</h2>
    <p>Explore our collection of books and find something that you'll love.</p>

    Test user:<br>
    username: test<br>
    password: bananas

</div>
<th:block th:insert="~{footer :: footer}"></th:block>
</body>
</html>
