<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<h2>Login</h2>
<p th:if="${error}" th:text="${error}" style="color: red;"></p>
<form action="#" th:action="@{/login}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required placeholder="username">
        <br><br>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required placeholder="password">
        <br><br>
    </div>
    <button type="submit" value="Login">Login</button>
</form>
</body>
</html>