<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Home Page</title>
  <link rel="stylesheet" th:href="@{styles.css}">
</head>
<body>
<th:block th:insert="~{header :: header}"></th:block>
<div class="container">
  <meta http-equiv="refresh" content="1;url=/login" />
<h2 class="redirect-message">Logout Successful</h2>
</div>
<th:block th:insert="~{footer :: footer}"></th:block>
</body>
</html>
