<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goal List</title>
    <link rel="stylesheet" th:href="@{styles.css}">
<body>
<th:block th:insert="~{header :: header}"></th:block>

<div class="scroll-box">
<div id="scroll-box">
    <div th:each="readinggoal : ${goalList}" >
        <div th:text= "'Read '+${readinggoal.getTarget()}+' books by: '+${readinggoal.getEndDate()}"></div>
        <div th:text= "${readinggoal.getBooksRead}+ ' books read, '+ ${readinggoal.getTimeLeft()}+' days left'"></div>
    </div>
</div>
</div>
<th:block th:insert="~{footer :: footer}"></th:block>
</body>
</html>
