<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Home Page</title>
    <link rel="stylesheet" th:href="@{styles.css}">
    <link rel="stylesheet" th:href="@{popup.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{popup.js}"></script>
    <script type="text/javascript">
        function handleImageLoad(image) {
            if (image.naturalWidth === 1 && image.naturalHeight === 1) {
                image.src = 'noveleafnobook-low-vibrance.png'; //fall back image
            }
        }
    </script>
</head>
<body>
<th:block th:insert="~{header :: header}"></th:block>
<div class="container">
<h1>Search Books</h1>

<div th:if="${books != null}">
    <ul class="display-books">
        <li th:each="book, iter : ${books}">
            <div class="book-item">
                <img class="book-cover" th:src="'https://covers.openlibrary.org/b/isbn/' + ${book.isbn} + '-M.jpg'"
                     alt="cover"
                     width="160px"
                     onload="handleImageLoad(this)"
                     onerror="this.src='noveleafnobook.png'"/>
                <form th:if="${userAccount != null}" id="searchForm" th:action="@{/search}" method="post">
                    <input type="hidden" name="index" th:value="${iter.index}" />
                    <button type="submit">Read</button>
                </form>
                <span class="title" th:text="${book.title}"></span>
                <span class="authors" th:text="${book.getAuthorNames()}"></span>
            </div>
        </li>
    </ul>
</div>
</div>



<th:block th:insert="~{footer :: footer}"></th:block>
</body>
</html>
